*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-gray{
    background-color: gray;
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: rgb(39, 191, 238);
}

.bg-purple{
    background-color: purple;
}

.bg-pink{
    background-color: pink;
}

.bg-green{
    background-color: green;
}

.bg-lightgreen{
    background-color: lightgreen;
}

.bg-orange{
    background-color: orange;
}

header{
    
    height: 70px;
}

#logo{
    padding: 10px;

}

main{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
}

.m-20{
    margin: 10px;
}

.p-20{
    padding: 10px;
}
 
.br{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

hr{
    width: max-content;
}

button{
    padding: 5px;

}

.bb{
    border-bottom: solid 1px;
    color: gray;
}