*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-gray{
    background-color: rgb(223, 217, 217);
}

.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: rgb(12, 170, 218);
}

.bg-purple{
    background-color: rgb(180, 73, 180);
}

.bg-pink{
    background-color: rgb(250, 107, 174);
}

.bg-green{
    background-color: rgb(47, 185, 132);
}

.bg-lightgreen{
    background-color: rgb(104, 197, 61);
}

.bg-orange{
    background-color: orange;
}

header{
    
    height: 70px;
}

#logo{
    padding: 10px;

}

main{
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    font-size: 25px;
}

.m-20{
    margin: 10px;
}

.p-20{
    padding: 10px;
}
 
.br-top{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


.br-bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}

.br{
    border-radius: 20px;


}
button{
    padding: 5px;
    border-radius: 5px;

}

.bb{
    border-bottom: solid 1px;
    color: gray;
}

.tc{
    color: white;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
}

.check{
    border: 1px solid #2cc6ab;
    color: #2cc6ab;
}

.cross{
    border: 1px solid red;
    color: red;
}

.fs{
    font-size: 15px;
    
}

